# Virtual environment
.venv/
venv/
env/

# Dati (troppo grandi per Git)
data/

# Python
__pycache__/
*.pyc
*.pyo
*.egg-info/
dist/
build/

# Environment
.env

# Jupyter
.ipynb_checkpoints/

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Zip ed estrazioni temporanee
*.zip
*-master/

